/*-- scss:defaults --*/

// Colors
/* From https://coolors.co/palettes/trending */
$col-1: #606c38;
$col-2: #283618;
$col-3: #dda15e;
$col-4: #bc6c25;

/* generally useful other colors */
$url-blue: #00b4d8;
$cream: #F4F3EE;
$charcoal: #191919;
$gray-1: #8A817C;
$gray-2: #BCB8B1;
$gray-3: #d6d6d6;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Base document colors
$navbar-bg: $col-1; // navbar
$navbar-fg: $col-2; // navbar foreground elements
$navbar-hl: $cream; // highlight color when hovering on a page
$sidebar-bg: $cream; // sidebar
$sidebar-fg: $charcoal; // sidebar foreground elements
$body-bg: $charcoal; // page background
$body-color: $cream; // page text
$footer-bg: $col-3; // footer
$footer-fg: $col-4; // footer text
$link-color: $url-blue; // hyperlinks

// Code text
$code-bg: $gray-2; // inline code background color
$code-color: $charcoal; // inline code text color
$code-block-bg: $gray-2; // code block background color

/*-- scss:rules --*/

// Underline URLs
.reveal .slide a { text-decoration: underline; }

// Increase contrast of text in tab panel label
.nav-tabs .nav-link.active { color: $cream; }
.nav-tabs .nav-link { color: $cream; }

// Improve background contrast for code chunk ouput
pre code:not(.sourceCode) { background-color: $gray-2; }
